@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700";

/* ==========================================================================
                                G E N E R A L
   ========================================================================== */
html, body {height: 100%; background-color: #e2ebef; color: #5B5B5B; font-family: 'Open Sans'; font-size: 13px;}
#loading-ajax, .dataTables_processing {background: url("../img/loader.gif") no-repeat scroll 10px center #428bca; color: #ffffff; display: none; left: 50%; line-height: 40px; margin: 0 0 0 -65px; padding: 0 15px 0 50px; position: fixed; top: 0; z-index: 10000;}
.breadcrumb { margin: 0 10px; padding: 6px 0; background-color: white;}
.breadcrumb li, .breadcrumb li a, .breadcrumb .active {font-size: 13px; color: #4a89dc;}
.navbar-inverse {background-color: rgb(0,27,63);}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {color: #ccc;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {background-color: rgb(2,52,103);}
.button-container {margin-bottom: 10px;}
.save-loading img{width: 16px;}
.save-loading > span:last-child {display: none;}
#alert-modal .modal-dialog {margin-top: 100px;}
.modal-sm {width: 400px;}
.btn-container {margin-bottom: 10px;}

/* ==========================================================================
                                  L O G I N
   ========================================================================== */
.login, header {
  background: #1f3649;
  background: -moz-radial-gradient(center, ellipse cover, #1f3649 0%, #17253d 44%, #040d11 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1f3649), color-stop(44%, #17253d), color-stop(100%, #040d11));
  background: -webkit-radial-gradient(center, ellipse cover, #1f3649 0%, #17253d 44%, #040d11 100%);
  background: -o-radial-gradient(center, ellipse cover, #1f3649 0%, #17253d 44%, #040d11 100%);
  background: -ms-radial-gradient(center, ellipse cover, #1f3649 0%, #17253d 44%, #040d11 100%);
  background: radial-gradient(ellipse at center, #1f3649 0%, #17253d 44%, #040d11 100%);
}
.form-login {margin: 150px auto 30px; max-width: 400px;}
.form-login .input-group, .form-login .form-group {
  margin-bottom: 6px;
  margin-top: 4px;
}
.form-login .panel .panel-heading .panel-title {margin-bottom: 0; font-weight: 300;}
.login .btn-scroll-top {display: none;}
.login .footer {text-align: center; border-color: transparent;}
.login header {background: transparent;}

/* ==========================================================================
                                M E S S A G E S
   ========================================================================== */
.input-error {
  background-color: #e6344a;
  color: #fff;
  font-size: 11px !important;
  padding: 4px 7px;
  line-height: 12px;
}
.input-error em {
  color: #fdd194;
}
label + .input-error,
.counter + .input-error,
.required + .input-error,
.input-group + .input-error {
  margin-top: 6px;
}
label + .input-error:before,
.counter + .input-error:before,
.required + .input-error:before,
.input-group + .input-error:before {
  border-bottom: 5px solid #e6344a;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  height: 0;
  margin: -8px 0 0 10px;
  position: absolute;
  width: 0;
}
.counter + .input-error {
  margin-top: 0;
}
.label-required {
  position: relative;
}
.label-required:before {
  color: #e6344a;
  content: "*";
  font-size: 16px;
  margin: -2px 0 0 -10px;
  position: absolute;
}
.has-error .form-control {
  border-color: #e6344a;
}
.has-error .input-group-addon {
  color: #e6344a;
  background-color: #fee0de;
  border-color: #e6344a;
}
.anb-messages {background-color: transparent; position: fixed; right: 20px; top: 125px; z-index: 2010;}
.anb-message {background-color: #ec971f; border-radius: 5px; opacity: 0; filter: alpha(opacity=0); font-size: 12px; margin-bottom: 5px; padding: 7px 10px; position: relative; width: 240px;}
.anb-message:hover {transition: all ease .2s; opacity: 1 !important; filter: alpha(opacity=100);}
.anb-message .close { display: none; position: absolute; right: 10px; top: 7px;}
.anb-message:hover .close {display: block;}
.anb-message a {color: white;}
.anb-message-header {color: white; font-size: 14px; font-weight: bold; margin-bottom: 1px; text-shadow: 0 1px 0 #333;width: 200px;}
.anb-message-success {background-color: #04A875; color: white;}
.anb-message-error {background-color: #e6344a; color: white;}
.anb-message-warning {background-color: #fbb351; color: #000;}
.anb-message-info {background-color: #9D5BE0; border: 1px solid #ec971f; color: white;}
.anb-message-header .fa {font-size: 16px; font-weight: 300; text-shadow: none;}

/* ==========================================================================
                      T A B L E  A N D  D A T A T A B L E S
   ========================================================================== */
.table th {background-color: #049dbf !important; color: #ffffff;}
.table .sorting, table .sorting_asc, table .sorting_desc, table .sorting_asc_disabled, table .sorting_desc_disabled {cursor: pointer;}
.table .sorting { background: url('../lib/datatables/images/sort_both.png') no-repeat center right;}
.table .sorting_asc { background: url('../lib/datatables/images/sort_asc.png') no-repeat center right;}
.table .sorting_desc { background: url('../lib/datatables/images/sort_desc.png') no-repeat center right;}
.table .sorting_asc_disabled { background: url('../lib/datatables/images/sort_asc_disabled.png') no-repeat center right;}
.table .sorting_desc_disabled { background: url('../lib/datatables/images/sort_desc_disabled.png') no-repeat center right;}
.dataTables_wrapper {margin-bottom: 10px;}
.table td.edit {padding: 3px 0; text-align: center;}
.table th.edit {width: 48px !important; text-align: center;}
.table th.state {width: 92px !important; text-align: center;}
.check-item, .table th.check-all {cursor: pointer;}
.table th.check-all {width: 40px; vertical-align: top;}
.check-item i, .check-all i {background: white url('../img/checkbox.png') no-repeat 0 0; display: block; height: 14px; margin: 5px auto 0; width: 14px;}
.table th.check-all i {margin-top: 3px;}
tr.active .check-item i, .all-selected .check-all i {background-position: 0 -14px;}
.dataTable {margin-bottom: 5px;}
.dataTables_paginate a{ border: 1px solid #DDDDDD; display: inline-block; margin-left: 2px; padding: 4px 12px; text-decoration: none;}
.dataTables_paginate a:hover, .dataTables_paginate a.paginate_active, .dataTables_paginate a.paginate_button_disabled {background-color: #F5F5F5;}
.dataTables_paginate a.paginate_active, .dataTables_paginate a.paginate_button_disabled {color: #999999; cursor: default;}
.paging_full_numbers, .dataTables_length { text-align: right;}
.paginate_button.current {background: white; font-weight: bold;}
.table > tbody > tr.active > td {background-color: #d9edf7;border-color: #bce8f1;color: #31708f;}
.dataTables_paginate .disabled, .paginate_button.current {color: #aaa; cursor: not-allowed; pointer-events: none;}
.dataTables_length .form-control {margin-left: 10px; width: auto;}
.dataTables_filter input {font-weight: 300;}

/* ==========================================================================
                                M  O  D  A  L
   ========================================================================== */
.modal-body {font-size: 0; padding: 10px 25px 0;}
.modal-body .form-group, .imprimir .panel-body .form-group {display: inline-block;padding: 0 5px;vertical-align: top;width: 50%;}
.form-group, .modal-body table, .modal-body p, .modal-body li, .modal-body .alert, .modal-body label, .modal-body input, .modal-body select, .modal-body div, .modal-body ul, .modal-body ol, .font-default {font-size: 13px;}
.modal-body .form-group > .alert{font-size: 12px; margin: 0 0 10px; padding: 10px;}
.form-group.radio-group, .radio-group {width: 100%;}
.radio-group label {width: 30%;}
.filter, .section-buttons {margin: 0 0 10px;}
.filter {border-bottom: 1px solid #DDDDDD; box-shadow: 0 1px 0 0 #FFFFFF;}
.filter > div, .filter > button {display: inline-block; vertical-align: bottom; margin: 0 0 10px;}
.filter > button {min-width: 80px;}
.filter .daterange-group {max-width: 380px;}
.title-panel button {margin: -10px 0 -7px;}
#alert-modal .modal-body {padding: 10px 20px;}
#alert-modal .modal-body .alert:last-child {margin-bottom: 0;}
.modal-body fieldset {font-size: 0;}
.modal-body .modal-details {font-size: 0; padding: 8px; margin-bottom: 10px;}
.modal-body .modal-details .alert-danger {padding: 5px 7px;}
.modal-details .form-group {margin: 0;}
.modal-title .pull-right {margin: -5px 15px 0 0;}
.modal-header {border: none; padding: 25px 25px 10px;}
.modal-footer {border: none; padding: 10px 25px 25px;}
.modal-body .modal-container {font-size: 0;}
.modal-body .tooltip-inner {font-size: 12px;}
.modal-content {box-shadow: none; border-radius: 3px;}
.modal-title {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.alert.alert-docs {margin: 5px 0 0; padding: 5px 10px; font-size: 12px;}

/* ==========================================================================
                            F O R M  A N D  I N P U T
   ========================================================================== */
.fileinput-button {overflow: hidden;position: relative;}
.fileinput-button input {cursor: pointer;height: 71px;left: -40px;opacity: 0;position: absolute;top: 0;width: 300px;}
.modal-header h3, .modal-body .form-group label > strong, form .form-group label > strong {color: #e6344a;}
.modal-body .form-group label > input + strong, form .form-group label > input + strong {color: #333333;}
.btn-on-off strong {font-size: 1.2rem;}
form .form-group .btn-primary > strong, .modal .form-group .btn-primary > strong {color: #ffffff;}

/* Form widgets */
.counter:before {content: "Caracteres restantes: ";}
.counter {color: #777; font-size: 11px; font-style: italic;}
.ms-ctn .ms-sel-item {color: #777; border-color: #ccc;}
.ms-ctn .ms-sel-item:hover {border-color: #aaa;}
.ms-res-ctn .ms-res-item-active {background-color: #428bca; color: white;}
.no-search .ms-res-ctn {display: none !important;}
.readyonly .ms-close-btn, .readyonly input {display: none;}
.modal-body .container-docs {height: auto; padding: 4px 6px; min-height: 34px;}
.container-docs span {display: inline-block; font-size: 12px; font-weight: normal; margin: 0 3px 3px 0; padding: 4px;}

/* ==========================================================================
                                  F O O T E R
   ========================================================================== */

/*****************************
Theme general
*****************************/
header {left: 0; position: fixed; top: 0; width: 100%; z-index: 5;}
header.collapsed .navbar .container-fluid {padding-left: 50px;}
.navbar.navbar-default{margin:0;}
footer.collapsed {padding-left: 70px;}
footer {
  border-top: 1px solid #dcdcdc;
  font-size: 12px;
  height: 40px;
  line-height: 38px;
  padding: 0 60px 0 260px;
  text-align: right;
}
div footer.collapsed, div footer {padding: 0;}
#container, .container-login {margin-bottom: -40px; min-height: 100%; padding: 0 0 40px;}
#container > .container-fluid {
  padding: 140px 25px 20px 265px;
}
#container .collapsed + .container-fluid {padding-left: 75px;}
.logo {background: transparent url("../img/courier.png") no-repeat; height: 70px; width: 100%; position: relative;}
.logo:before {background: transparent url(../img/anb.png) no-repeat; content: ""; position: absolute; display: block; right: 0; top: 0; width: 122px; height: 70px;}
.login .logo:before {
  display: none;
}
.login .logo {
  background: transparent url("../img/courier.png") no-repeat scroll 0 0;
  height: 70px;
  left: 50%;
  margin-left: -150px;
  position: relative;
  top: 70px;
  width: 300px;
}
.navbar-default .btn-banner.active, .navbar-default .btn-banner.active:focus {
    color: #4a89dc;
}
.logo h1 {display: none;}
.navbar-default .navbar-toggle {display: block; border: none; background: transparent; margin: 1px 5px;}
.navbar-default .navbar-nav > li > a {
  color: #707070;
  display: inline-block;
  font-size: 20px;
  margin: 2px 0;
  padding: 7px 10px;
  position: relative;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background: transparent;}
.navbar .container-fluid {padding-left: 240px;} 
.btn.toggle-menu {
  background-color: transparent;
  border: none;
  border-radius: 0;
  line-height: 10px;
  margin: 5px 0 0 5px;
  padding: 7px 8px 8px 5px;
}
.collapsed .btn.toggle-menu {
    padding: 7px 5px 8px 8px;
}
.btn.toggle-menu:hover {
    margin-left: 0;
}
.collapsed .btn.toggle-menu:hover {
    margin-left: 10px;
}
.user-data {
    overflow: hidden;
    position: relative;
}
.user-data .user-icon {
  border: 2px solid #e2e2e2;
  border-radius: 50%;
  height: 40px;
  margin: 15px 0 20px 20px;
  position: relative;
  width: 40px;
}
.user-icon .fa {
  color: #e2e2e2;
  font-size: 24px;
  left: 8px;
  position: absolute;
  top: 5px;
}
.user-data h4 {
  
}
.user-details .fa {
    color: #fbb351;
}
.user-data .user-details {
    color: #e2e2e2;
    font-size: 15px;
    line-height: 14px;
    margin-top: 17px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    width: 70%;
}
.toggle-menu > span > span { display: inline-block; font-size: 12px; position: relative; text-decoration: underline; top: -2px;}
.show-menu {display: none;}
.collapsed .show-menu {display: block;}
.collapsed .hide-menu {display: none;}

/*****************************
Navigation
*****************************/
.navigation {background-color: #023859; height: 100%; overflow: auto;}
.navigation > ul > li{position:relative;}
.navigation > ul > li.has-submenu:after{content:"\f105"; font-family: 'FontAwesome'; display:inline-block; position:absolute; color:#7a7e8a; right:15px; transition: all 0.4s; -moz-transition: all 0.4s; -webkit-transition: all 0.4s; -o-transition: all 0.4s; top:10px; visibility:hidden;}
.navigation > ul > li.active.has-submenu:after, .navigation > ul > li.has-submenu:hover:after{color:#fff;}
.navigation > ul > li > a {
  border-bottom: 1px solid rgb(7, 57, 108);
  color: #ccc;
  display: block;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
  padding: 8px 25px 8px 18px;
  position: relative;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}
.has-submenu li.active:after {
    background-color: #f1f2eb;
}
.has-submenu li:after {
    background-color: #fbb351;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 22px;
    position: absolute;
    top: 14px;
    width: 8px;
    z-index: 1;
}

.has-submenu li {
    position: relative;
}
.navigation > ul:hover > li.active > a{background-color:transparent; box-shadow:none; color:#7a7e8a;}
.navigation > ul > li:hover > a, 
.navigation > ul > li.active:hover > a, 
.navigation > ul > li.active > a {color:#fff; background-color: #049dbf;}
.navigation ul li a i {
  margin-right: 6px;
  position: absolute;
  top: 9px;
}
.navigation ul li a i:first-child {
  font-size: 16px;
}
.navigation ul li a i:last-child {
  font-size: 10px;
  font-weight: 300;
  right: 10px;
  top: 13px;
}
.navigation ul li.active a i:last-child {
  transform: rotate(90deg);
}
.navigation .nav-label {display: block; margin-left: 22px;}
.navigation ul li.active ul {display: block;}
.nav-footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: right;
}
.nav-footer a {
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    width: 33%;
}
.nav-footer .bg-red {
    width: 34%;
}

.navigation .menu-title {
  color: #808080;
  font-size: 12px;
  margin-bottom: 0;
  padding: 15px 20px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

/*** Sub Menu ***/
.navigation ul li ul{display:none; background-color:#011826; -webkit-box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.2); box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.2); position: relative;}
.navigation ul li ul:after {
  border-left: 1px solid #fbb351;
  content: "";
  height: 100%;
  left: 25px;
  position: absolute;
  top: 0;
}
.navigation ul li ul li a{padding:8px 8px 8px 40px; color:#94989d; text-decoration:none; transition: all 0.2s; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s; font-size:13px; border-left:0px solid #5e6271; text-align:left; display:block;}
.navigation ul li ul li a:hover, .navigation ul li ul li.active a{color: #f1f2eb;}
#sidebar:not(.collapsed) .navigation ul li.active ul{display:block;}
#sidebar {height: 100%; left: 0; padding: 70px 0 0; position: fixed; top: 0; width: 240px; z-index: 6;}

@media (min-width: 768px) {   
    #sidebar.collapsed {overflow:visible !important; bottom:0px; padding-top: 70px; text-align:center; width:50px;}
    #sidebar.collapsed i.glyphicon {font-size: 20px; margin: 0; position: static; top: 0;}
    #sidebar.collapsed .navbar > .container-fluid {width: 75px;}
    .collapsed .navigation {overflow: visible;}
    .collapsed .navigation > ul > li > a {transition: none;}
    .collapsed .navigation > ul > li.has-submenu:after{display:none;}    
    .collapsed .navigation > ul > li:hover > ul{display:block !important;}
    .collapsed .navigation > ul > li:hover span {display: block;}
    .collapsed .navigation span.nav-label {display: none;}
    .collapsed .navigation > ul > li.active > ul {display: none;}
    .collapsed .navigation ul li ul{position:absolute; z-index:3; left:100%; top:40px; box-shadow:none; padding:5px 0px; min-width:210px;}
    .collapsed .navigation ul li ul li a{border: none;}
    .collapsed .navigation > ul > li:hover > a {
      background-color: white;
      color: #121212;
    }   
    .collapsed .user-icon {
      border-radius: 5px;
      margin: 0 5px 5px;
    }
    .collapsed .user-details {
      background-color: #ffffff;
      color: #121212;
      display: none;
      height: 40px;
      left: 40px;
      margin: 0;
      padding-top: 4px;
      position: absolute;
      top: 0;
      min-width: 250px;
      text-align: left;
    }
    .collapsed .user-data {
      cursor: pointer;
      height: 50px;
      overflow: visible;
    }
    .collapsed .user-data .user-icon:hover {
      background-color: white;
      border-color: white;
    }
    .collapsed .user-data .user-icon:hover i {
        color: #049dbf;
    }
    .collapsed .user-data .user-icon:hover + .user-details {
        display : block;
    }
    .collapsed .navigation .menu-title {
      display: none;
    }
    .collapsed .navigation > ul > li > a {
      border: none;
      border-radius: 5px;
      height: 40px;
      margin: 2px 0 0 5px;
      padding: 0;
      position: relative;
      width: 40px;
    }
    .collapsed .navigation ul li a i:first-child {
      left: 13px;
      top: 11px;
    }
    .collapsed .navigation ul li a i:last-child {
      display: none;
    }
    .collapsed .navigation span.nav-label {
        background-color: white;
        border-top-right-radius: 3px;
        color: #121212;
        font-weight: 400;
        height: 40px;
        left: 12px;
        line-height: 40px;
        padding: 0 10px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 221px;
    }
    .collapsed .navigation .active span.nav-label, .navigation > ul > li.active:hover > a {
        background-color: #049dbf;
        color: white;
    }
    .collapsed .nav-footer a {
      width: 100%;
    }
    .collapsed .nav-footer a:first-child {
      display: none;
    }
    .logo-off .logo {
      background-color: #011826;
      background-position: 70px 10px;
      background-size: 160px auto;
      height: 60px;
      left: 0;
      position: absolute;
      top: 0;
      width: 240px;
      z-index: 1;
    }
    .logo-off .logo:before {
        background-size: 70px auto;
        left: 6px;
        top: 8px;
    }
    #container.logo-off > .container-fluid {
      padding-top: 70px;
    }
    .logo-off #sidebar {
        padding-top: 60px;
    }
    .logo-off .collapsed .navigation {
      padding-top: 10px;
    }
    .logo-off #sidebar.collapsed {
      padding-top: 50px;
    }
    .logo-off .collapsed .logo::before {
        background-position: -2px 4px;
        background-size: 42px auto;
    }
    .logo-off .collapsed .logo {
      cursor: pointer;
      background-size: 0 0;
      height: 50px;
      overflow: hidden;
      width: 50px;
    }
    .logo-off .collapsed .logo:hover {
        background-size: 136px auto;
        border-radius: 0 3px 3px 0;
        width: 227px;
    }
    .logo-off header.collapsed {
      z-index: 8;
    }
}

.date-al:before { content: "al"; position: absolute; right: -5px; top: 7px;}
.date-al {position: relative;}
.navbar {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  min-height: 42px;
}
.navbar .pull-right {line-height: 28px;}
legend {font-size: 18px;}
h3, .h3 {font-size: 22px;margin: 0 0 15px 0;}
.modal-body .Tokenize {width: 100%;}
.tab-content.main {margin-top: 10px;}
/*.nav-tabs > li > a {background-color: rgb(2, 52, 103); color: white;}
.nav-tabs > li > a:hover {background-color: rgb(0, 30, 70); color: white;}*/
.note-editable {min-height: 300px;}
.dt-filter > div {display: inline-block; margin-left: 20px;}

.btn-scroll-top {
  background-color: #aaaaaa;
  border-radius: 50%;
  bottom: 4px;
  color: white;
  font-size: 18px;
  height: 30px;
  position: fixed;
  right: 15px;
  width: 30px;
  display: none;
}
.btn-scroll-top:hover, .btn-scroll-top:focus {
    background-color: #888;
    color: white;
}
.btn-scroll-top .fa {
  left: 6px;
  position: absolute;
  top: 3px;
}
.btn-fullscreen.active i:first-child{
    display: none;
}
.btn-fullscreen i:last-child{
    display: none;
}
.btn-fullscreen.active i:last-child{
    display: inline-block;
}
.not-app .not-open {
    display: none;
}
.not-app .not-open.not-open-close {
    display: block;
}
.not-app {
    right: -5px !important;
}
.not-app .not-open.not-open-close {
  left: -27px !important;
}
.not-app .not-open.not-open-close:hover {
    left: -24px !important;
    width: 24px !important;
}
.header-menu .badge-header {
  border-radius: 8px;
  font-size: 12px;
  left: 18px;
  padding: 2px 5px;
  position: absolute;
  top: 0;
}
.user-data > div {
    margin-bottom: 0;
}
/* ==========================================================================
                               T H E M E
========================================================================== */
a {color: #4a89dc;}
.panel-body {
    padding-top: 0;
}
.tab-pane .panel-body {
    padding: 15px;
}
.nav-tabs > li.active > a:before, .nav-tabs > li > a:hover:before{
  background-color: #049dbf;
  border-left: 1px solid #049dbf;
  border-right: 1px solid #049dbf;
  bottom: -3px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  border: 1px solid transparent;
  position: relative;
}
.nav-tabs > li > a {
    color: #888;
    position: relative;
}
.navbar {border-radius: 0;}
.badge-danger {
  background-color: #c75757;
}
label, b, strong, th, .label {
    font-weight: 600;
}
.bg-red {
    background-color: #e6344a;
    color: #f1f2eb;
}
.bg-red:hover, .bg-red:focus {
    background-color: #DD1B35;
    color: white;
    text-decoration: none;
}
.bg-dark-blue {
    background-color: #011826;
    color: #94989d;
}
.bg-dark-blue:hover, .bg-dark-blue:focus {
    background-color: #fbb351;
    color: black;
    text-decoration: none;
}
.btn {
  border: medium none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
  padding: 7px 17px 8px;
  transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
  vertical-align: middle;
}
.btn-sm, .btn-group-sm > .btn {
    font-size: 11px;
}
.btn-default {
    background-color: #e0e0e0;
}
.btn-default:hover, .btn-default:focus {
    background-color: #d5d5d5;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default.focus[disabled], fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active {
    background-color: #dadada;
}
.btn-danger, .label-danger {
    background-color: #e6344a;
}
.btn-danger:hover, .btn-danger:focus {
    background-color: #DD1B35;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger.focus[disabled], fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger.active {
    background-color: #e6344a;
}
.btn-primary, .label-primary {
    background-color: #04779b;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #006789;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #04779b;
}
.btn-warning, .label-warning {
    background-color: #fbb351;
}
.btn-warning:hover, .btn-warning:focus {
    background-color: #FBAA43;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning.focus[disabled], fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning.active {
    background-color: #fbb351;
}
.btn-success, .label-success {
    background-color: #04A875;
}
.btn-success:hover, .btn-success:focus {
    background-color: #039265;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success.focus[disabled], fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
    background-color: #04A875;
}
.btn-info, .label-info {
    background-color: #049dbf;
}
.btn-info:hover, .btn-info:focus {
    background-color: #0685A2;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info.focus[disabled], fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info.active[disabled], fieldset[disabled] .btn-info.active {
    background-color: #049dbf;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
}
.alert-danger {
    color: #4E120C;
    background-color: #fee0de;
}
.alert-warning {
    background-color: #f3e6d1;
    color: #3C2206;
}
.alert-info {
    background-color: #deedf2;
    color: #356A75;
}
.alert-success {
    background-color: #d1ede8;
    color: #0D2213;
}
.panel {
  background: #ffffff;
  border-radius: 0;
  border: 1px solid #E2E2E2;
  border: none;
  color: #5b5b5b;
  margin-bottom: 20px;
  min-height: 30px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.panel .panel-heading {
  display: block;
  height: auto;
  padding: 6px 15px 6px 18px;
  border: none;
}
.panel .panel-heading .panel-title {
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}
.modal-header .close {
  margin-top: -8px;
}
.panel-title sub {bottom: 0}
.close {
  font-size: 28px;
  font-weight: 400;
  opacity: 0.3;
  margin-top: -5px;
}
.form-control {
  background-color: #ecedee;
  border: 1px solid #ecedee;
  border-radius: 2px;
  box-shadow: none !important;
  color: #555555;
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  padding: 7px 12px 8px;
  transition: all 0.2s ease-out 0s;
  vertical-align: middle;
  width: 100%;
}
.form-control:focus {
    border-color: #d0d0d0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-right: none;
}
.form-control:focus + .input-group-addon {
    border: 1px solid #d0d0d0;
    border-left: none;
}
.input-group-addon {
    border: none;
    border: 1px solid transparent;
}
.form-group {
  margin-bottom: 12px;
}
select.form-control {
  padding-top: 5px;
}
.form-horizontal .control-label {
  color: #3E484E;
  text-align: left;
}

/* ==========================================================================
                                R W D
========================================================================== */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .table, .modal-body .table {display: block;font-size: 0;}
    .table thead {display: inline-block;padding-left: 0;vertical-align: top;width: 40%;}
    .table tbody {display: inline-block;font-size: 0;margin-top: -1px;overflow: auto;white-space: nowrap;width: 60%;}
    .table thead tr, .table thead th {display: block; text-align: left;}
    .table tbody tr {display: inline-block;font-size: 13px;vertical-align: top;}
    .table tbody td {border-width: 1px 1px 0 0 !important;display: block;height: 40px;}
    .table > thead > tr > th {border-bottom: 1px solid #e0e0e0; font-size: 12px; height: 40px; line-height: 40px; overflow: hidden; padding: 0 7px; width: 100% !important;}
    .check-all i {margin: 12px 10px 0;}
    .check-all i:after {content: "Seleccionar todos";float: left;margin: 0 0 0 10px;width: 100px; font-size: 10px;}
    .table th.edit, .table th.state {text-align: left;width: auto !important;}
    .table th.check-all {padding: 10px 8px;}
    .table td.check-item {padding: 9px 0;cursor: pointer;border-radius: 2px;}
    .dataTables_info {padding: 0 0 8px;}
    .dataTables_info, .dataTables_paginate {text-align: center;}

    .logo {
      background-color: #011826;
      background-position: 70px 10px;
      background-size: 160px auto;
      height: 60px;
      left: -250px;
      position: absolute;
      top: 0;
      width: 250px;
    }
    .logo:before {
        background-size: 70px auto;
        left: 6px;
        top: 8px;
    }
    
    .btn-container {margin-top: 10px;}
    header {position: static;}
    header.collapsed .navbar .container-fluid, .navbar .container-fluid {padding-left: 15px;}
    footer {font-size: 12px; height: auto; line-height: 29px; padding: 0 15px; text-align: left;}
    #sidebar {padding-top: 60px;}
    #container > .container-fluid {padding-left: 15px; padding-top: 50px;}
    #container .collapsed + .container-fluid {padding-left: 15px;}
    .navigation {box-shadow: none;}
    .navbar-header {float: left;}
    .breadcrumb {
      background-color: #049dbf;
      border-radius: 0;
      left: 0;
      margin: 0;
      padding: 2px 15px;
      position: absolute;
      top: 50px;
      width: 100%;
    }
    .breadcrumb li, .breadcrumb li a, .breadcrumb .active {color: white; font-size: 12px;}
    .navbar .glyphicon-user {float: right; margin: 7px 0 0 7px;}
    .login footer.collapsed {transform: none; -ms-transform: none; -webkit-transform: none; -moz-transition:  none; -o-transition:  none}
    .container-fluid .panel-heading h3 {text-align: center;}
    .container-buttons {margin-top: 15px; text-align: center;}
    .form-login {margin-top: 100px;}
    .modal-body .form-group, .imprimir .panel-body .form-group {width: 100% !important;}
    .imprimir .btn, .modal-details .btn {margin-bottom: 10px; width: 100%;}
    .modal-title .pull-right {float: none !important; margin-top: 10px;}
    .modal-footer .btn,.container-buttons .btn {margin: 0 0 5px !important; width: 100%;}
    .paginate_button.first, .paginate_button.last {display: none;}
    .navbar-nav {
      margin: 4.5px -15px;
    }
    .navbar-toggle .icon-bar {
        height: 3px;
    }
    .navbar-default .navbar-toggle {
      margin-top: 7px;
    }
    
    #sidebar {display: none; position: absolute;}
    #sidebar.collapsed {text-align: left; display: block;width:250px; left:0px; overflow:hidden !important;} 
    #sidebar.collapsed + .container-fluid, header.collapsed, footer.collapsed, .login header {transform:translate3d(250px, 0px, 0px); -ms-transform:translate3d(250px, 0px, 0px); -webkit-transform:translate3d(250px, 0px, 0px); -moz-transition: translate3d(250px, 0px, 0px); -o-transition: translate3d(250px, 0px, 0px)}
} 
