@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700";

html, body {height: 100%; color: #5b5b5b; font-family: "Open Sans";}
*[hidden] {display: none;}
body {background-color: white; color: white;}
.left {float:left;}
.right {float: right;}
.hide {display: none !important;}
input[type=text], input[type=password], select, textarea {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-sizing: border-box;
    color: #555;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 3px 8px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 175px;
}
textarea {
    height: auto;
    resize: none;
}
input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
    color: #777;
    opacity: 1;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #777;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #777;
}
input[type=text][disabled], input[type=password][disabled], select[disabled], textarea[disabled],
input[type=text][readonly], input[type=password][readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-xs {
    padding: 1px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-search::before {
    background: url("../img/search.png") no-repeat scroll left center transparent;
    content: "";
    display: block;
    height: 12px;
    left: 3px;
    position: absolute;
    top: 4px;
    width: 12px;
}
.btn-search {
    padding-left: 18px;
    position: relative;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.search {
  color: #333;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 279px;
}
.search > input {
    border: medium none;
    font-size: 13px;
    line-height: 28px;
    margin: 1px;
    padding: 0 27px 0 5px;
    width: 241px;
}
.search > span {
    color: #aaa;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    right: 12px;
    position: absolute;
    top: 1px;
}
.not-container {
    height: 100%;
}
.not-header {
    background: #023859 url("../img/anb.png") no-repeat scroll right center;
    color: white;
    padding: 3px 10px 4px;
}
.not-header h1 {    
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
}
.not-options {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    position: relative;
}
.not-body-main {
    box-sizing: border-box;
    height: 100%;
    padding-top: 68px;
}
.not-body {
    position: relative;
    overflow-y: auto;
    height: 100%;
}
.not-close {
    color: #ccc;
    cursor: pointer;
    display: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 14px;
    position: absolute;
    right: 8px;
    transition: all ease .3s;
    top: 5px;
    z-index: 2;
}
.not-item:hover .not-close {
    color: #aaa;
    display: block;
}
.not-close:hover, .not-item:hover .not-close:hover {
    color: #777;
    display: block;
}
.not-item {
    background-color: #deedf2;
    border-bottom: 1px solid #fff;
    color: #5b5b5b;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    transition: all 0.4s ease 0s;
    z-index: 1;
}
.not-item > div {
    padding: 10px 15px;
}
.not-item:hover {
    background-color: #CCEAF4;
    border-bottom: 1px solid #cfcfcf;
}
.not-item.read:hover {
    background-color: #f0f0f0;
    border-bottom: 1px solid #cfcfcf;
}
.not-item .not-title {
  color: #356A75;
  font-weight: 600;
  text-transform: uppercase;
}
.not-item .not-message {
    padding: 5px 0;
}
.not-item .not-details {
    overflow: hidden;
    font-size : .8em;
    color: #888;
}
.not-item .not-date {
    font-style: italic;
}
.not-item.read {
    background-color: #ffffff;
}
.not-item.read:before {
    border-top: 1px solid #e0e0e0;
    bottom: -1px;
    content: "";
    height: 0;
    left: 15px;
    position: absolute;
    width: 250px;
}
.not-item.read, .not-item.read .not-title {
    color: #5b5b5b;
}
.not-empty {font-size: .8em; margin-top: 20px; text-align: center;}
.not-loading {
    background-color: #003061;
    display: none;
    font-size: 12px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
.not-field {
    margin-bottom: 5px;
}
.not-field label {
    display: inline-block;
    font-weight: bold;
    margin-top: 7px;
    text-align: right;
    vertical-align: top;
    width: 75px;
}
.not-container.panel:before {
    background-color: rgba(0,0,0,.6);
    background:transparent\9;
    content: "";
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 3;
}
.not-add, .not-alert {
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    font-size: 12px;
    margin: -30px 0 0 280px;
    padding: 10px;
    position: fixed;
    top : 67px;
    width: 255px;
    z-index: 3;
}
.not-add-header h3 {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 5px 0 15px;
    text-align: center;
    text-transform: uppercase;
}
.not-add-footer {
    margin-top: 10px;
}
.not-error {
    background-color: crimson;
    border-radius: 3px;
    color: white;
    display: none;
    font-size: 10px;
    font-weight: bold;
    margin-left: 79px;
    margin-top: 4px;
    padding: 0 5px 2px;
    position: relative;
    text-align: center;
}
.not-error::before {
    border-bottom: 5px solid crimson;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    height: 0;
    left: 10px;
    position: absolute;
    top: -4px;
    width: 0;
}
.not-loading.not-loading-success {
    background-color: #04A875;
}
.not-loading.not-loading-error {
    background-color: #e6344a;
}
.not-more {
    color: #4a89dc;
    display: block;
    font-size: 12px;
    margin: 0px 50px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}
.not-more:hover {
    text-decoration: underline;
}
.not-header-main {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.not-alert .not-alert-header {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.not-alert .not-alert-body {
    margin-bottom: 15px;
}
.not-notiweb {
    display: inline-block;
}
.not-notiweb > span {
    font-size: 11px;
    color: #333;
    margin-left: 10px;
}
.not-icon {
  display: inline-block;
  height: 8px;
  margin: 2px 2px 0 0;
  width: 8px;
}
.not-icon-alert {
    background-image: url(../img/warning.png);
}
.not-icon-message {
    background-image: url(../img/envelope-closed.png);
}
.not-icon-invitation {
    background-image: url(../img/flag.png);
}
.not-notiweb > span.not-support {
    color: crimson;
    font-size: 10px;
    line-height: 10px;
}
.not-item query {
    background-color: #f3e6d1;
    color: #3C2206;
}
.not-no-results {
    color: white;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}