.not-app {
    background: none repeat scroll 0 0 #1c6fb3;
    box-sizing: border-box;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.15);
    color: white;
    height: 100%;
    margin-right: -277px;
    position: fixed;
    right: 0;
    top: 0;
    width: 282px;
    z-index: 2000;
}
.not-app .not-open {
    background: none repeat scroll 0 0 / 64% auto #023859;
    border-radius: 6px 0 0 6px;
    color: white;
    cursor: pointer;
    height: 36px;
    left: -27px;
    position: absolute;
    text-align: center;
    top: 109px;
    width: 27px;
}
.arrow-open:before {
    border-bottom: 7px solid transparent;
    border-right: 7px solid white;
    border-top: 7px solid transparent;
    content: "";
    height: 0;
    right: 3px;
    position: absolute;
    top: 0;
    width: 0;
}
.arrow-open:after {
    border-bottom: 7px solid transparent;
    border-right: 7px solid #004792;
    border-top: 7px solid transparent;
    content: "";
    height: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.arrow-open, .arrow-close {
    background-color: white;
    display: block;
    height: 14px;
    margin: 11px 0 0 14px;
    position: relative;
    width: 3px;
}
.arrow-close:before {
    border-bottom: 7px solid transparent;
    border-left: 7px solid white;
    border-top: 7px solid transparent;
    content: "";
    height: 0;
    left: 3px;
    position: absolute;
    top: 0;
    width: 0;
}
.arrow-close:after {
    border-bottom: 7px solid transparent;
    border-left: 7px solid #004792;
    border-top: 7px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.arrow-close {
    margin-left: 10px;
}
.not-app .not-open:hover {
    background-color: #049dbf;
    left: -30px;
}
.not-app .not-open:hover .arrow-open:after{
    border-right-color: #428bca;
}
.not-app .not-open:hover .arrow-close:after{
    border-left-color: #428bca;
}
.not-app .not-open.not-open-close {
  left: -30px;
}
.not-app .not-open.not-open-close:hover {
  left: -27px;
}
.not-app .not-open .not-number {
    background-color: #d43f3a;
    border-radius: 2px;
    bottom: -5px;
    color: white;
    display: none;
    font-size: 10px;
    left: -3px;
    padding: 1px 5px;
    position: absolute;
}
.not-app iframe {border: none; display: none; height: 100%; width: 100%;}
.not-loading {padding: 5px 10px; text-align: center; font-size: 12px;}

.not-details {
    font: normal 12px "Open Sans", Arial, Helvetica;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
}
.not-details .not-details-body {
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    width: 388px;
    border: 1px solid #AAAAAA;
    padding: 7px 0px;
    width: 388px;
}
.not-details .not-details-body > div {
  margin: 0 10px;
}
.not-details .not-caret {
    border-bottom: 9px solid transparent;
    border-left: 9px solid #aaaaaa;
    border-top: 9px solid transparent;
    display: block;
    height: 0;
    position: absolute;
    right: -8px;
    top: 10px;
    width: 0;
}
.not-details .not-caret:before {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ffffff;
    border-top: 8px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -9px;
    position: absolute;
    top: -8px;
    width: 0;
}
.not-details .not-details-title {
    margin: 0 0 5px;
}
.not-details .not-details-details, .not-alert .not-details-details {
    color: #888;
    font-size: 0.8em;
    overflow: hidden;
}
.not-details .not-details-title {
    color: #356A75;
    font-size: 14px;
    text-transform: uppercase;
}
.not-details .not-details-message {
    padding: 2px 0 7px;
    text-align: justify;
}
.not-details .not-close {
    right: 7px;
}
.not-left {float: left;}
.not-right {float: right;}
.not-alerts {
    background-color: transparent;
    bottom: 50px;
    left: 50px;
    position: fixed;
    z-index: 2010;
}
.not-alert {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 12px;
    margin-top : 8px;
    position: relative;
    width: 300px;
}
.not-alert > div {
    cursor: pointer;
    padding: 6px 10px;
}
.not-alert .not-title {
    color: #003e80;
    font-size: 14px;
    font-weight: bold;
}
.not-alert .not-message {
    margin-bottom: 7px;
}
.not-close {
    color: #ccc;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 14px;
    position: absolute;
    right: 8px;
    transition: all ease .3s;
    top: 5px;
    z-index: 2;
}
.not-close:hover {
    color: #777;
}
.not-icon {
  display: inline-block;
  height: 8px;
  margin: 2px 2px 0 0;
  width: 8px;
}
.not-icon-alert {
    background-image: url(../img/warning.png);
}
.not-icon-message {
    background-image: url(../img/envelope-closed.png);
}
.not-icon-invitation {
    background-image: url(../img/flag.png);
}
.not-details query {
    background-color: #f3e6d1;
    color: #3C2206;
}
.not-growls {
    background-color: transparent;
    position: fixed;
    right: 15px;
    top: 125px;
    z-index: 2010;
}
.not-growl {
    background-color: #ec971f;
    border-radius: 3px;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 12px;
    margin-bottom: 5px;
    padding: 7px 10px;
    position: relative;
    width: 240px;
}
.not-growl:hover {
    transition: all ease .2s;
    opacity: 1 !important;
    filter: alpha(opacity=100);
}
.not-growl .not-close {
    display: none;
}
.not-growl:hover .not-close {
    display: block;
}
.not-growl a {
    color: white;
}
.not-growl-header {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1px;
    text-shadow: 0 1px 0 #333;
}
.not-growl-success {
    background-color: #5cb85c;
    color: white;
}
.not-growl-error {
    background-color: crimson;
    color: white;
}
.not-growl-warning {
    background-color: #fbb351;
    color: #000;
}
@media (max-width: 768px) {
    .not-details .not-details-body {width: 270px;}
    .not-details .not-caret {display: none;}
    .not-details:before {background-color: rgba(0, 0, 0, 0.5); content: ""; display: block; height: 100%; position: fixed; right: 0; top: 0; width: 277px; z-index: -1;}
    .not-details-date.not-left {float: right;}    
}
